html, body, #root {
  background: #151515;
  width: 100%;
  height: 100%;
  padding: 0;
}

.god-component {
  margin-left: auto;
  margin-right: auto;
  color: white;
  max-width: 100%;
  height: calc(100% - 95px);
}

.dummy-filler::after {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(64/79));
  width: 100%;
}

.movie-page {
  height: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}